<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Sistema de Venta</h1>

        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>

        <span style="flex: 1 1 auto;"></span>
        <label style="font-size: 14px; margin-right: 20px;">
            {{correoUsuario}} | {{rolUsuario}}
        </label>
        <button mat-icon-button (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
        </button>


    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" style="width: 300px;">
        <mat-nav-list >

            <!-- <mat-list-item routerLink="/pages/dashboard">
                <div class="sideOption">
                    <mat-icon mat-list-icon>dashboard</mat-icon> 
                    <div mat-line>DashBoard</div>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/usuarios">
                <div class="sideOption">
                    <mat-icon mat-list-icon>group</mat-icon>
                    <div mat-line>Usuarios</div>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/productos">
                <div class="sideOption">
                    <mat-icon mat-list-icon>collections_bookmark</mat-icon>
                    <div mat-line>Productos</div>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/venta">
                <div class="sideOption">
                    <mat-icon mat-list-icon>currency_exchange</mat-icon>
                    <div mat-line>Venta</div>
                </div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/historial_venta">
                <div class="sideOption">
                    <mat-icon mat-list-icon>edit_note</mat-icon>
                    <div mat-line>Historial Ventas</div>
                </div>
            </mat-list-item> -->

            <mat-list-item *ngFor="let menu of listaMenus" [routerLink]="menu.url">
                <div class="sideOption">
                    <mat-icon mat-list-icon>{{menu.icono}}</mat-icon>
                    <div mat-line>{{menu.nombre}}</div>
                </div>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>